body
{
	margin: 0;
	padding: 0;
	background: url("img/dark_stone.png");
}

.content
{
		width: 960px;
		margin : auto;
}

.logo
{
	width: 450px;
	height: 64px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background: url("img/logo_armenian_shop.png");
}

.navBar
{
	height: 54px;
	width: 100%;
	background: #ff0000;
	
}