body
{
	margin: 0;
	padding: 0;
	background: url("../img/dark_stone.png");
}

.content
{
		width: 960px;
		min-height: 650px;
		margin : auto;
		font-family : "Roboto";
}

.footer
{
	height: 100px;
	width: 100%;
	background: #323232;
	font-family : "Roboto";
	color: white;
	text-align: center;
	padding-top: 10px;
}

.page_admin
{
	font-size: 38px;
	color: white;
	padding-bottom: 40px;
}
.admin_box
{
	display: inline-block;
}

caption
{
	color : white;	
}

td
{
	color: black;
}

.page_title
{
	height: 32px;
	width: 100%;
	background: url("../img/grass_menu.png");
	margin-bottom: 40px;
	color: white;
}

.page_title_text
{
	
}