body
{
	margin: 0;
	padding: 0;
	background: url("../img/dark_stone.png");
}

.content
{
		width: 960px;
		margin : auto;
		font-family : "Roboto";
}

caption
{
	color : white;	
}

td
{
	color: black;
}

.page_title
{
	height: 32px;
	width: 100%;
	background: url("../img/grass_menu.png");
	margin-bottom: 40px;
	color: white;
}

.page_title_text
{
	
}